* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.cuerpo {
    display: flex;
    position: relative;
    background-color: #C6CFA2;
    flex-direction: row;

}


/* contenedor img*/

.img {
    position: absolute;
    left: 50%;
    /* le restamos la mitad de su tamaño para centrarlo */
    margin-left: -150px;
}

.contenedor__img {
    width: 300px;
    background-size: cover;
    background-size: 100% 100%;
}


/* pinta la parte externa de cada bloque */

.bloque__contenedor{
    display: flex;
    opacity: 0.2;
    margin: 2px;
    border: 5px solid black;
    padding: 3px;
}

    .bloque__contenedor_mini{
        display: flex;
        opacity: 0.2;
        margin: 2px;
        border: 5px solid black;
        padding: 3px;
    }

/* pintar el cuadrado interno de cada bloque */

.bloque__interior{
    align-self: center;
    justify-self: center;
    background-color: black;
    width: 10px;
    height: 10px;
}

    .bloque__interior_mini{
        align-self: center;
        justify-self: center;
        background-color: black;
        width: 10px;
        height: 10px;
    }

/* contenedor del juego */

.contenedor__juego {
    position: absolute;
    top: 270px;
    left: 25%;
    border: 1px solid black;
    height: 605px;
    width: 305px;
    display: grid;
    padding: 1px;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
}

                .tetrominio {
                    opacity: 0.8;
                }
                

.final_line {
    visibility: hidden;
}







/* aqui empieza el contenedor de la score*/

.contenedor__score-posicion {
    position: absolute;
    top: 400px;
    left: 50%;
}

.contenedor__score {
    position: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 50%;
    border: 2px solid black;
    padding: 1rem;
}

.contenedor__score-numero {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 1rem;
}

.contenedor__score-move {
    margin: 1rem;
}

.contenedor__score-cuadrados {
    border: 1px solid black;
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
}

.contenedor__gameover {
    width: 700px;
    height: 700px;
    background-color: aqua;
    border: 15px solid;
}

.boton__repetir {
    width: 300px;
    height: 300px;
}

.gameover__off {
    visibility: hidden;
}

.gameover__on {
    visibility: visible;
}