* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family:'Pokemon-GB';
    src: url(/Users/ManuGrande/Desktop/BOOTCAMP/proyecto-tetris/proyecto-tetris-js/font/Pokemon-GB.ttf) format('ttf');
    font-style: normal;
    font-weight: normal;
  }


.cuerpo {
    display: flex;
    position: relative;
    background-color: #C6CFA2;
}


/* contenedor img*/

.img {
    position: absolute;
    left: 50%;
    /* le restamos la mitad de su tamaño para centrarlo */
    margin-left: -150px;
}

.contenedor__img {
    width: 300px;
    background-size: cover;
    background-size: 100% 100%;
}


/* pinta la parte externa de cada bloque */

.bloque__contenedor {
    display: flex;
    opacity: 0.2;
    margin: 2px;
    border: 5px solid black;
    padding: 3px;
}


/* pintar el cuadrado interno de cada bloque */

.bloque__interior {
    align-self: center;
    justify-self: center;
    background-color: black;
    width: 10px;
    height: 10px;
}


/* contenedor del juego */

.contenedor__juego {
    position: absolute;
    top: 270px;
    left: 25%;
    border: 1px solid black;
    height: 605px;
    width: 305px;
    display: grid;
    padding: 1px;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
}

.tetrominio {
    opacity: 0.8;
}

.final_line {
    visibility: hidden;
}


/* aqui empieza el contenedor de la score*/

.contenedor__score-posicion {
    position: absolute;
    top: 400px;
    left: 50%;
}

.contenedor__score {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 50%;
    border: 2px solid black;
    padding: 1rem;
}

.contenedor__score-numero {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 1rem;
}

.contenedor__score-move {
    margin: 1rem;
}

.contenedor__score-cuadrados {
    border: 1px solid black;
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
}

.contenedor__gameover {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 80vh;
    margin-top: 40vh;
    width: 30vh;
    height: 20vh;
    background-color: #72765d;
    z-index: 1;

}

.boton__repetir {
    width: 20vh;
    height: 10vh;
    background-color: #c6cda4;
    color: #000000;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Pokemon-GB';
    border:none;
}

.boton__repetir:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease-in-out;
    animation-duration: 10seg;
    
}
.gameover__off {
    visibility: hidden;
}

.gameover__on {
    visibility: visible;
}